@import 'styles/colors.scss';
@import 'styles/end.scss';

* { all: unset; 
  transition: box-shadow .2s ease,  color .2s ease, text-shadow .2s ease, border-radius .2s ease;
}

.lefty {
  background-color: rgba($tertiary-dark, $opacity);
  font-family: 'Soilad','0xProto Nerd Font Mono';
  padding-right: 64px;

  border-radius: 0 0 32px 0;
}

.righty {
  background-color: rgba($tertiary-dark, $opacity);
  font-family: 'Soilad','0xProto Nerd Font Mono';
  padding-left: 64px;
  border-radius: 0 0 0 32px;
}

.timey {
  background-color: rgba($tertiary-dark, $opacity);
  label {
  // box-shadow: inset 0 0 0 1px $secondary, inset 0 0 10px 1px rgba($secondary,$opacity),0 0 10px 1px rgba($tertiary-dark,0.4);
  font-size: 3;
  }
  padding: 0 16px;
  border-radius: 0 0 32px 32px;
}

.panel {
  font-family: 'Soilad','0xProto Nerd Font Mono';

  padding: 10px 20px;
  margin: 5px 0;
  border-radius: 32px;
  font-size: 26;
  // box-shadow: 0 0 10px 1px $secondary;
  background-color: rgba($tertiary-dark, $opacity);

}

.player {
  text-shadow: 0 0 5px $tertiary-dark;
}

.controls {
  button {
    &:hover {
      @include active;
    }
  }
  label {
    font-size: 27px;
    text-shadow: 0 0 10px $tertiary-dark;
  }
}

progress {
  background-color: $secondary;
  border-radius: 10px;
  padding: 2px;
  box-shadow: 0 0 10px rgba($secondary, $glow);
}
slider {
  padding: 10px;
  // margin: -2.5px 0 0 0;
  background-color: rgba($secondary, 0);
  border-radius: 10px;
  // box-shadow: 0 0 10px 1px $tertiary-dark;
}

.topbar {
  padding: 0 10px;
  label {
    color: $primary;
    font-size: 28;
    background-color: rgba($tertiary-dark,0);
    padding: 0 10px;
  }

}

.bar-icon {
  label {
    font-family: '0xProto Nerd Font Mono';
    font-size: 32;
  }
  padding: 10px;
  &:hover {
    @include glow;
  }
}

.monitor-icon {
  label {
    font-family: '0xProto Nerd Font Mono';
    font-size: 32;
    padding: 12px;
  }
  padding: 10px;
  &:hover {
    @include glow;
  }
}

.powermenu button, .bg {
  font-size: 36;
  margin: 20px; 
  padding: 50px 65px;
  @include unglow;
  &:hover {
    @include glow;
  }

}


.notes {
  font-size: 27;
  margin: 20px; 
  padding: 30px;
  @include inactive;
  &:hover, &:active {
    @include active;
  }
}

.trans button {
  padding: 10px;
  @include inactive;
  &:hover, &:active {
      @include active;
  }
}

circular-progress {
  background-color: #600;
  color: $secondary;
  margin: 3px;
}

.big {
  font-size: 180;
  font-family: '0xProto Nerd Font Mono';
}

.smol {
  color: $secondary;
  font-size: 31;
  text-shadow: 0 0 10px rgba($secondary, $glow);
  padding: 12px 48px;
  margin: 40px;
}

.bar {
  color: rgba($tertiary-dark, 0);
  // color: $secondary;
  text-shadow: 0 0 5px $secondary;
  font-family: '0xProto Nerd Font Mono';
}

.app {
  margin: 20px;
  padding: 4px 10px;
  font-family: 'Soilad','0xProto Nerd Font Mono';
  font-size: 40px;
  @include inactive;
  &:hover, &:first-child {
    @include active;
  }
  &:hover{
    &:first-child {
      @include inactive;
    }
  }
}


.file {
  margin: 20px;
  padding: 4px 10px;
  font-family: 'Soilad','0xProto Nerd Font Mono';
  font-size: 40px;
  @include inactive;
  &:hover {
    @include active;
  }
}

.searchbar {
  padding: 20px 40px;
  border-radius: 100px;
  @include unglow;
}

.notif, .wifilist {
  font-size: 18;
  margin: 20px; 
  padding: 10px; 
  @include unglow;
  &:hover {
    @include glow;
  }
}
