# Ignore everything by default
/*

# Track the gitignore itself
!/.gitignore

# .config: only the listed subdirectories
!/.config/
/.config/*
!/.config/eww/
!/.config/nvim/
!/.config/hypr/
!/.config/fish/
!/.config/kitty/
!/.config/fastfetch/

# .local: only bin/search
!/.local/
/.local/*
!/.local/bin/
/.local/bin/*
!/.local/bin/search

# Themes
!/.themes/
/.config/nvim/lazy-lock.json
/.config/fish/fish_variables
