@import 'styles/colors.scss';
@import 'styles/end.scss';

* { all: unset; 
  transition: box-shadow .2s ease,  color .2s ease, text-shadow .2s ease, border-radius .2s ease;
  font-family: 'Soilad','0xProto Nerd Font Mono';
}

.lefty {
  background-color: rgba($tertiary-dark, $opacity);

  border-radius: 0 0 20px 0;
}

.righty {
  background-color: rgba($tertiary-dark, $opacity);
  border-radius: 0 0 0 20px;
}

.timey {
  background-color: rgba($tertiary-dark, $opacity);
  label {
  // box-shadow: inset 0 0 0 1px $secondary, inset 0 0 10px 1px rgba($secondary,$opacity),0 0 10px 1px rgba($tertiary-dark,0.4);
    font-size: 18;
    &:hover {
      color: $secondary;
    }
  }
  padding: 0 16px;
  border-radius: 0 0 20px 20px;
}

.panel {
  margin: 8px 0 0 0;
  border-radius: 32px;
  label {
    font-size: 18;
    padding: 8px 20px;
  }
  // box-shadow: 0 0 10px 1px $secondary;
  background-color: rgba($tertiary-dark, $opacity);

}

.player {
  text-shadow: 0 0 5px $tertiary-dark;
}

.controls {
  margin: 0px 0px;
  padding: 0px 0px;
  border-radius: 20px;
  &:hover {
    @include glow;
  }
  label {
    font-size: 12px;
    text-shadow: 0 0 10px $tertiary-dark;
  }
}

progress {
  background-color: rgba($secondary, 0.5);
  border-radius: 10px;
  padding: 1px;
  box-shadow: 0 0 10px rgba($secondary, $glow);
}

slider {
  padding: 10px 0 0 0;
  background-color: rgba($secondary, 0);
  border-radius: 10px;
  // box-shadow: 0 0 10px 1px $tertiary-dark;
}

.topbar {
  padding: 0 0px;
  label {
    color: $primary;
    font-size: 18;
    background-color: rgba($tertiary-dark,0);
    padding: 0 10px;
  }

}

.icon {
  font-family: '0xProto Nerd Font Mono';
  font-size: 12;
}

.gay {
  padding: 3px;
}

.scroll-icon {
  label {
    font-family: '0xProto Nerd Font Mono';
    font-size: 24;
    color: $primary;
    margin: 4px;
    padding: 2;
  }
  border-radius: 50px;
  &:hover {
    @include glow;
  }
}

.bar-icon {
  // padding: 0 1px;
  label {
    font-family: '0xProto Nerd Font Mono';
    font-size: 20;
    margin: 0;
    padding: 4px;
  }
  border-radius: 50px;
  &:hover {
    @include glow;
  }
}

.monitor-icon {
  label {
    font-family: '0xProto Nerd Font Mono';
    font-size: 16;
    padding: 12px;
  }
  padding: 10px;
  &:hover {
    @include glow;
  }
}

.powermenu button, .bg {
  font-size: 16;
  margin: 10px; 
  border-radius: 50px;
  padding: 28px 36px;
  @include unglow;
  &:hover {
    @include glow;
  }

}

.notes {
  font-size: 9;
  margin: 20px; 
  padding: 30px;
  @include inactive;
  &:hover, &:active {
    @include active;
  }
}

.trans button {
  padding: 10px;
  border-radius: 50px;
  @include inactive;
  &:hover, &:active {
      @include active;
  }
}

circular-progress {
  background-color: #600;
  color: $secondary;
  margin: 6px;
}

.big {
  font-size: 180;
}

.smol {
  color: $secondary;
  font-size: 15;
  text-shadow: 0 0 10px rgba($secondary, $glow);
  padding: 6px 24px;
  margin: 20px;
}

.bar {
  color: rgba($tertiary-dark, 0);
  font-family: '0xProto Nerd Font Mono';
  font-size: 24px;
  text-shadow: 0 0 2px rgba($secondary, $opacity);
}
.app {
  margin: 20px;
  padding: 4px 10px;
  font-size: 12px;
  @include inactive;
  &:hover, &:first-child {
    @include active;
  }
  &:hover{
    &:first-child {
      @include inactive;
    }
  }
}


.file {
  margin: 10px;
  padding: 4px 5px;
  font-size: 12px;
  @include inactive;
  &:hover {
    @include active;
  }
}

.searchbar {
  padding: 20px 20px;
  margin: 10px 0px;
  font-size: 18;
  border-radius: 35px;
  @include unglow;
  &:hover {
    @include glow;
  }
}

.notif, .list {
  font-size: 18;
  margin: 5px 10px; 
  padding: 5px 10px;
  border-radius: 100px;
  @include unglow;
  &:hover {
    @include glow;
  }
}

.bgclock {
  font-size: 128;
}
